
@model TeleSpecialists.BLL.Model.@case

<div class="modal-dialog modal-lg" id="casePopupAlert">
    <div class="modal-content">
        <input type="hidden" name="cas_key" id="cas_key" value="@Model.cas_key" />
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">
                @ViewBag.CaseType
            </h4>
            <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
           
            <div>
                @Model.facility.fac_name
            </div>
            <div>
                @ViewBag.CaseType
            </div>
            <div>
                Case #@Model.cas_case_number

            </div>
            <div>
                @Model.cas_patient
            </div>
           
        </div>

    <!-- Modal footer -->
    <div class="modal-footer" style="justify-content:flex-start">
        <div class="row" style="width:100%;">
            
                <div class="col-9">
                    Would you like to accept this case?
                </div>
                <div class="col-3 text-right">
                    <a class="btn btn-link" data-dismiss="modal" id="btnReject">Reject</a>
                    <input type="button" class="btn btn-dark" id="btnAccept" value="Accept" />
                </div>
          

        </div>
    </div>

</div>

</div>
