@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.Models;
@model TeleSpecialists.BLL.Model.@case
@{
    var isEdit = false;
    var loggedInUser = ViewBag.loggedInUser as ApplicationUser;
    var IsNavigator = User.IsInRole("Navigator");
    bool isETAInMinutes = true;

    string facilityTimeZone = TeleSpecialists.BLL.Settings.DefaultTimeZone;
    if (Model.facility != null)
    {
        if (!string.IsNullOrEmpty(Model.facility.fac_timezone))
        {
            facilityTimeZone = Model.facility.fac_timezone;
        }
    }
    //Getting timezone abbrivation
    var timeZone = Functions.GetTimeZoneAbbreviation(facilityTimeZone);

    if (Model != null && Model.cas_key > 0)
    {
        isEdit = true;
        if (!string.IsNullOrEmpty(Model.cas_eta))
        {
            isETAInMinutes = Model.cas_eta.All(char.IsNumber);
        }

    }

    var showPhyOfflinePopup = false;

    if (Request.Params["showPhyOfflinePopup"] != null)
    {
        showPhyOfflinePopup = Request.Params["showPhyOfflinePopup"].ToString().ToLower() == "1" ? true : false;
    }

    double timeZoneOffset = 0;
    if (Model.facility != null)
    {
        timeZoneOffset = Functions.GetTimeZoneOffset(Model.facility.fac_timezone ?? TeleSpecialists.BLL.Settings.DefaultTimeZone);
    }
    var startToStampTime = Model.cas_response_ts_notification_utc - Model.cas_metric_stamp_time;
    TimeSpan? startStampTimeSamp = null;
    if (Model.cas_response_ts_notification_utc.HasValue && Model.cas_metric_stamp_time.HasValue)
    {
        if (Model.cas_response_ts_notification_utc.Value > Model.cas_metric_stamp_time.Value)
        {
            startStampTimeSamp = Model.cas_response_ts_notification_utc.Value - Model.cas_metric_stamp_time.Value;
        }
        else
        {
            startStampTimeSamp = Model.cas_metric_stamp_time.Value - Model.cas_response_ts_notification_utc.Value;
        }
    }
    else
    {
        startStampTimeSamp = new TimeSpan();
    }
    var startToStampTimeVal = startStampTimeSamp.FormatTimeSpan();

    bool isRoutineConsultCase = false;
    bool isStateConsultCase = false;
    bool iscase_EEGs = false;
    bool isStrokeAlertCase = (Model.cas_ctp_key == CaseType.StrokeAlert.ToInt());
    // bool isstrokestatcase = (Model.cas_ctp_key == CaseType.StrokeAlert.ToInt()) || (Model.cas_ctp_key == CaseType.StatConsult.ToInt());

    var callTypes = Enum.GetValues(typeof(CallType)).Cast<CallType>()
.Select(m => new
{
    Key = Convert.ToInt32(m).ToString(),
    Value = m.ToDescription(),
}).OrderBy(m => m.Value).ToDictionary(m => m.Key, m => m.Value);

    if (isEdit)
    {
        isRoutineConsultCase = Model.cas_ctp_key == CaseType.RoutineConsultNew.ToInt() || Model.cas_ctp_key == CaseType.RoutineConsultFollowUp.ToInt();
        isStateConsultCase = Model.cas_ctp_key == CaseType.StatConsult.ToInt();
        iscase_EEGs = Model.cas_ctp_key == CaseType.NursetoDr.ToInt() || Model.cas_ctp_key == CaseType.DrtoDr.ToInt() || Model.cas_ctp_key == CaseType.RoutineEEG.ToInt() || Model.cas_ctp_key == CaseType.StatEEG.ToInt() || Model.cas_ctp_key == CaseType.LongTermEEG.ToInt() || Model.cas_ctp_key == CaseType.TestResults.ToInt() || Model.cas_ctp_key == CaseType.RadiologyCallback.ToInt();
    }

    bool showOtherCallSource = false;
    bool showOtherCartLocation = false;
    if (Model != null)
    {
        if (Model.cas_caller_source_key_title?.ToLower() == "other")
        {
            showOtherCallSource = true;
        }

        @*TCARE - 472 *@
        if (Model.cas_cart_location_key_Title?.Trim().ToLower() == "other")
        {
            showOtherCartLocation = true;
        }
    }

    List<string>
        GetFacilityCart = new List<string>
            ();
    if (Model.facility != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.cas_cart))
        {
            if (!string.IsNullOrWhiteSpace(Model.facility.fac_cart_numbers))
            {
                GetFacilityCart = Model.facility.fac_cart_numbers.Split('#').ToList();
                GetFacilityCart.Add(Model.cas_cart);
            }
            else
            {
                GetFacilityCart.Add(Model.cas_cart);
            }

        }
        else if (!string.IsNullOrWhiteSpace(Model.facility.fac_cart_numbers))
        {
            GetFacilityCart = Model.facility.fac_cart_numbers.Split('#').ToList();
        }
    }

    var callbackdate = "false";
    var callbackred = "";
    DateTime callbackcheckdate = Convert.ToDateTime("09/22/2020");
    DateTime createddate = Convert.ToDateTime("1/1/0001");
    if (Model != null && Model.cas_key > 0)
    {
        if (Model.cas_created_date > callbackcheckdate)
        {
            callbackdate = "true";
            callbackred = "text-danger";
        }
    }
    else if (Model != null)
    {
        if (Model.cas_created_date == createddate)
        {
            callbackdate = "true";
            callbackred = "text-danger";
        }

    }


}

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<input type="hidden" name="RedirectPage" id="RedirectPage" value="1" />
@Html.HiddenFor(m => m.cas_key)
@Html.HiddenFor(m => m.cas_metric_in_cta_queue)
@Html.HiddenFor(m => m.cas_associate_id)
@Html.HiddenFor(m => m.cas_status_assign_date)
@Html.HiddenFor(m => m.cas_created_by)
@Html.HiddenFor(m => m.cas_created_by_name)
@Html.HiddenFor(m => m.cas_created_date)
@Html.HiddenFor(m => m.cas_case_number)
@Html.HiddenFor(m => m.cas_ani)
@Html.HiddenFor(m => m.cas_dnis)
@Html.HiddenFor(m => m.cas_time_stamp)
@Html.HiddenFor(m => m.cas_five9_original_stamp_time)
@Html.HiddenFor(m => m.cas_campaign_id)
@Html.HiddenFor(m => m.cas_call_id)
@Html.HiddenFor(m => m.FacilityTimeZone)
@Html.HiddenFor(m => m.cas_response_ts_notification_utc)
@Html.HiddenFor(m => m.cas_physician_assign_date)
@Html.HiddenFor(m => m.cas_is_ealert)
@Html.HiddenFor(m => m.IsCaseCompleted)
@Html.HiddenFor(m => m.cas_batch_id)
@Html.HiddenFor(m => m.cas_is_flagged)
@Html.HiddenFor(m => m.VisibleTabs)
@Html.HiddenFor(m => m.FromWaitingToAcceptToAcceptTime)
@Html.HiddenFor(m => m.cas_caller_source_key_title)

<input type="hidden" value="@Model.TemplateEntityType.ToInt()" name="TemplateEntityType" id="TemplateEntityType" />
<input type="hidden" name="SelectedVal" id="SelectedVal" value="">
<input type="hidden" name="hdnSaveAndSend" id="hdnSaveAndSend" value="" />

@if (ViewBag.ShowTab == null)
{
    <div class="row">
        <div class="col-sm-11">
            <h2>@ViewBag.CurrentView  Case</h2>
            <hr />
        </div>
    </div>
}
<!-- Added here for copy only -->
<input type="hidden" id="hdnFacilityTimeZoneOffSet" value="@timeZoneOffset" />
<input type="hidden" id="hdnFacilityTimeZone" value="@Model.FacilityTimeZone" />
<input type="hidden" id="CasePageUrl" value="@Request.RawUrl" />

<div class="row general-tab">
    <div class="col-xl-4 col-lg-4 col-md-12 left-panel">
        <div class="form-group row">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4 text-danger">Case Type: </label>
            <div class="col-lg-12 col-xl-8 col-md-8 col-sm-8 col-xs-12">

                @{
                    string caseTypedisabled = null;
                    string readOnlyClass = null;
                    if (isEdit)
                    {

                        var caseType = Model.cas_ctp_key;
                        if (caseType == CaseType.StatConsult.ToInt() || caseType == CaseType.StatEEG.ToInt() || caseType == CaseType.StrokeAlert.ToInt())
                        {
                            var isAdmin = User.IsInRole(UserRoles.Administrator.ToDescription()) || User.IsInRole(UserRoles.SuperAdmin.ToDescription()) || User.IsInRole(UserRoles.RRCDirector.ToDescription()) || User.IsInRole(UserRoles.RRCManager.ToDescription());

                            if (!isAdmin)
                            {
                                caseTypedisabled = "readOnly";
                                readOnlyClass = "readonly-color";
                            }

                        }

                    }

                }

                <select @caseTypedisabled id="cas_ctp_key" name="cas_ctp_key" class="form-control addValidation @readOnlyClass" data-selectedValue="@(Model != null ? Model.cas_ctp_key : 0)" onchange="changefacility()" required></select>


                <div class="error_msg" id="cas_ctp_key_error" style="display:none;">
                    <label>This field is required</label>
                </div>
                @Html.ValidationMessageFor(model => model.cas_ctp_key, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-4 col-xl-4 col-lg-12 col-sm-4 col-xs-6 text-danger">
                Facility:  @if (isEdit)
                {
                    <span id="popover-container-facility" class="pull-right">
                        <span id="popover-facility" style="cursor:pointer;" data-toggle="popover" title="Facility Info">
                            <span class="facility-tooltip text-body mt-1"></span>
                        </span>


                        @{
                            var emrLink = "#";
                            var target = "";
                            var tooltipTitle = "No EMR link available";
                            if (Model.facility != null)
                            {
                                if (!string.IsNullOrEmpty(Model.facility.fac_emr))
                                {
                                    emrLink = Model.facility.fac_emr;

                                    if (!emrLink.StartsWith("http://") && !emrLink.StartsWith("https://"))
                                    {
                                        emrLink = "http://" + emrLink;
                                    }

                                    target = "_blank";
                                    tooltipTitle = null;
                                }
                            }
                        }
                        <a target="@target" href="@emrLink" data-toggle="tooltip" data-placement="top" title="@tooltipTitle">
                            <img alt="EMR Icon" src="/Content/images/facility_rem_icon.png" class="facility-emr-link" />
                        </a>
                        <a class="fa fa-phone text-body ml-1 mr-1 mt-1 edMainLink @(loggedInUser.EnableFive9 ? "edMainLinkClick" : "")" href="javascript:void(0)" data-type="ED Main">
                        </a>
                    </span>
                }
            </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @if (Model.cas_cst_key == CaseStatus.Complete.ToInt())
                {
                    <select id="cas_fac_key" name="cas_fac_key" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.cas_fac_key : Guid.Empty)" readonly></select>
                }
                else
                {
                    <select id="cas_fac_key" name="cas_fac_key" class="form-control addValidation" data-searchFilter="true" data-selectedValue="@(Model != null ? Model.cas_fac_key : Guid.Empty)" required></select>
                    <div class="error_msg" id="cas_fac_key_error" style="display:none;">
                        <label>This field is required</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.cas_fac_key, "", new { @class = "text-danger" })
                }
            </div>

        </div>

        <div class="form-group row hidewitheegs @(isRoutineConsultCase || iscase_EEGs ? "d-none" : "")">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4 requiredWithCaseType">Cart: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                <select id="casecart" name="casecart" class="form-control addValidation" required>
                    <option value="">-- Select --</option>
                    @if (GetFacilityCart.Count > 0)
                    {


                        foreach (var item in GetFacilityCart)
                        {
                            var selected = false;
                            if (!string.IsNullOrWhiteSpace(Model.cas_cart))
                            {
                                if (item == Model.cas_cart)
                                {
                                    selected = true;
                                }
                            }

                            <option value="@item" selected="@selected">@item</option>
                        }

                    }
                    <option value="other">Other</option>

                </select>
                <div class="error_msg" style="display:none;">
                    <label>This field is required</label>
                </div>
                @Html.ValidationMessage("casecart", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row hidewitheegs @(isRoutineConsultCase || iscase_EEGs ? "d-none" : "")" style="display:none;" id="othercart">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4 requiredWithCaseType">Other Cart: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_cart, new { @class = "form-control", @required = true })
                <div class="error_msg" style="display:none;">
                    <label>This field is required</label>
                </div>
                @Html.ValidationMessageFor(m => m.cas_cart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row  @(User.IsInRole(UserRoles.Physician.ToDescription())?"d-none" :"")">
            <label class="control-label col-xl-2 col-lg-5 col-md-2 col-sm-2 col-xs-5 text-danger">Assigned Physician: </label>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <a href='@Url.Action("_caseAssignmentHistory",new { id = Model.cas_key })' class="control-label loadModelPopup pull-right no-bold">History</a>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-8 col-sm-8 col-xs-12">
                @if (User.IsInRole(UserRoles.Physician.ToDescription()) || User.IsInRole(UserRoles.PartnerPhysician.ToDescription()))
                {
                    <input type="hidden" value="@loggedInUser.Id" name="cas_phy_key" />
                }
                else
                {
                    if (Model.cas_cst_key == CaseStatus.Complete.ToInt())
                    {
                        <select id="cas_phy_key" name="cas_phy_key" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.cas_phy_key : "0")" disabled></select>
                        <input type="hidden" name="cas_phy_key" value="@(Model != null ? Model.cas_phy_key : "0")" />
                    }
                    else
                    {
                        <select id="cas_phy_key" name="cas_phy_key" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.cas_phy_key : "0")"></select>
                    }
                }

                <div class="error_msg" id="cas_phy_key_error" style="display:none">
                    <label>This field is required</label>
                </div>

            </div>

        </div>
        <div class="form-group row">
            <label class="control-label @(User.IsInRole(UserRoles.Physician.ToDescription()) ? "col-xl-4 col-lg-12 col-md-2 col-sm-2": "col-xl-4 col-lg-12 col-md-4 col-sm-4")">Status: </label>
            <div class="col-xl-8 col-lg-12 col-md-8 col-sm-8 col-xs-12">

                @{
                    string caseStatusDisabled = null;
                    readOnlyClass = null;
                    if (User.IsInRole(UserRoles.Navigator.ToDescription()))
                    {
                        var caseStatus = Model.cas_cst_key;

                        if (caseStatus == CaseStatus.Cancelled.ToInt())
                        {
                            caseStatusDisabled = "readOnly";
                            readOnlyClass = "readonly-color";
                        }
                    }
                }

                @if (Model.cas_cst_key == CaseStatus.Complete.ToInt() && User.IsInRole(UserRoles.Navigator.ToDescription()))
                {
                    <label style="color: #a1a1a1;" id="case-complete-label">Complete </label>
                    <input type="hidden" value="@CaseStatus.Complete.ToInt()" name="cas_cst_key" id="cas_cst_key" />
                }
                else if (!isEdit && (User.IsInRole(UserRoles.PartnerPhysician.ToDescription()) || User.IsInRole(UserRoles.Physician.ToDescription())))
                {
                    <select @caseStatusDisabled id="cas_cst_key" name="cas_cst_key" class="form-control addValidation @readOnlyClass" data-selectedValue="@(CaseStatus.Accepted.ToInt())" required></select>
                    @Html.ValidationMessageFor(model => model.cas_cst_key, "", new { @class = "text-danger", id = "case_status_key_val" })
                }
                else
                {
                    <select @caseStatusDisabled id="cas_cst_key" name="cas_cst_key" class="form-control addValidation @readOnlyClass" data-selectedValue="@(Model != null ? Model.cas_cst_key : 0)" required></select>
                    @Html.ValidationMessageFor(model => model.cas_cst_key, "", new { @class = "text-danger", id = "case_status_key_val" })
                }


                @if (!User.IsInRole(UserRoles.Physician.ToDescription()))
                {
                    <div class="text-right mt-1">
                        @*<input type="button" class="btn btn-danger" value="Save & Send" id="btnSaveSend" disabled />*@
                    </div>
                }

                @if (showPhyOfflinePopup)
                {
                    <div class="error_msg text-right" id="cas_phy_key_offline_error">
                        <label>
                            Physician is offline
                        </label>
                    </div>
                }


            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4">Performance: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @if (!string.IsNullOrEmpty(startToStampTimeVal) && isEdit)
                {
                    <div class="row general-performance-container">
                        <div class="col-12 forth-col">
                            <div class=" col-12 row">
                                <span id="startToTimer">
                                    <strong>Start to Stamp Time: </strong>
                                    <span id="custom">@startToStampTimeVal</span>
                                </span>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.cas_time_stamp.HasValue)
                {
                    <div class="row  d-none performance-container">
                        <div class="col-12 forth-col">
                            <div class=" col-12 row">
                                <span id="startTimer" class=" text-danger" style="display:none">
                                    <strong>Start Time: </strong>
                                    <span id="custom">
                                        <span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                }

                <div class="row  performance-container">
                    <div class="col-12 forth-col">
                        <div class=" col-12 row">
                            <span id="assignmentTime">
                                <strong>Waiting to Accept to Accepted:</strong>
                                @if (Model.cas_cst_key == CaseStatus.WaitingToAccept.ToInt())
                                {
                                    <span id="custom">
                                        <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
                                    </span>
                                }
                                else if (!string.IsNullOrEmpty(Model.FromWaitingToAcceptToAcceptTime))
                                {
                                    <span>@Model.FromWaitingToAcceptToAcceptTime</span>
                                }
                                else
                                {
                                    <span>00:00:00</span>
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row cas_callback_container hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4 text-danger">Callback Phone: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_callback, new { @class = "form-control phone_number", @id = "cas_callback" })
                <div class="error_msg" id="cas_callback_error" style="display:none;">
                    <label>This field is required</label>
                </div>
                @Html.ValidationMessageFor(m => m.cas_callback, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row  hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4">Extension: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_callback_extension, new { @class = "form-control type_integer", @maxlength = "10" })
                @Html.ValidationMessageFor(m => m.cas_callback_extension, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4 text-danger">Patient Name: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_patient, new { @class = "form-control", id = "general_cas_patient_name", @placeholder = "Last Name, First Name" })
                <div class="error_msg" id="general_cas_patient_error" style="display:none;">
                    <label>This field is required</label>
                </div>
            </div>
        </div>
        <div class="form-group row showWithRoutineConsult @(isRoutineConsultCase ? "" : "d-none")">
            <label class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4">Date of Consult: </label>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                @if (!isEdit)
                {
                    @Html.FormattedDateTextBoxFor(m => m.cas_billing_date_of_consult, new { @class = "form-control timepicker", @data_currentVal = (Model.cas_billing_date_of_consult.HasValue ? Model.cas_billing_date_of_consult.Value.FormatDateTime() : "") })
                }
                else
                {
                    <input type="text" id="general_cas_billing_date_of_consult" class="form-control timepicker" value="@(Model.cas_billing_date_of_consult.HasValue ? Model.cas_billing_date_of_consult.Value.FormatDateTime() : "")" data-currentVal="@(Model.cas_billing_date_of_consult.HasValue ? Model.cas_billing_date_of_consult.Value.FormatDateTime() : "")" />
                }
            </div>
        </div>

        <div class="form-group row hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <div class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4">
                <label class="control-label">ETA@(isETAInMinutes ? "(minutes)" : ""): </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input ml-2" type="checkbox" id="case-eta" value="yes">
                </div>
            </div>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">


                @if (isETAInMinutes)
                {
                    @Html.TextBoxFor(m => m.cas_eta, new { @class = "form-control type_integer eta_validation", @style = "display:none", @maxlength = 6 })
                    <span class="text-danger" id="cas_eta_errormsg" style="@(Model.cas_eta.ToInt() > 10 ? "" : "display:none")">Cancel stroke alert. Callback hospital and recreate encounter at 10 minute mark</span>
                }
                else
                {
                    @Html.TextBoxFor(m => m.cas_eta, new { @class = "form-control type_integer eta_validation", @style = "display:none" })
                    <span class="text-danger" id="cas_eta_errormsg" style="display:none;">Cancel stroke alert. Callback hospital and recreate encounter at 10 minute mark</span>
                }



                @Html.ValidationMessageFor(m => m.cas_eta, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <div class="col-sm-10">
                <label class="control-label">
                    Pulled from <br class="d-none d-md-block mr-5 l-height" />
                    Rounding:
                </label>
                @Html.CheckBoxFor(m => m.cas_pulled_from_rounding, new { @class = "ml-2" })
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group row hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <div class="control-label col-xl-4 col-lg-12 col-md-4 col-sm-4">
                <label class="control-label">
                    Physician Having<br class="d-none d-md-block mr-5 l-height" />
                    Technical Issues:
                </label>
                @Html.CheckBoxFor(m => m.cas_phy_has_technical_issue, new { @class = "ml-2" })
            </div>
            <div class="col-lg-12 col-xl-8 col-md-8  col-sm-8 col-xs-12">
                <div id="div_cas_phy_technical_issue_date_est" style="@(isEdit ? Model.cas_phy_has_technical_issue ? "" : "display:none" : "display:none" )">
                    <div class="timer-container">
                        @Html.FormattedDateTextBoxFor(m => m.cas_phy_technical_issue_date_est, new { @class = "form-control timepicker", @data_currentVal = (Model.cas_phy_technical_issue_date_est.HasValue ? Model.cas_phy_technical_issue_date_est.Value.FormatDateTime() : "") })
                        <div class="est-container">
                            <span>@timeZone</span>
                        </div>
                    </div>
                    @if (isEdit)
                    {
                        <span class="text-danger" id="cas_phy_technical_issue_date_est_errormsg" style="@(Model.cas_phy_has_technical_issue ? "" : "display:none")">Remind physician to callback referring physician.</span>
                        <br />
                        <span id="cas_phy_technical_issue_date_est_errormsg_required" class="text-danger" style="display:none">This field is required.</span>
                    }
                    else
                    {
                        <span class="text-danger" id="cas_phy_technical_issue_date_est_errormsg" style="display:none;">Remind physician to callback referring physician.</span>

                    }

                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 middle-panel">

        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-blue">Date of Birth:</label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                <input type="text" name="cas_billing_dob" id="general_cas_dob" value="@(Model.cas_billing_dob?.FormatDate())" class="form-control datepicker" />
                <div id="general_cas_dob-error" class="error_msg" style="display:none;">
                    <label>Invalid Date of Birth</label>
                </div>
                @Html.ValidationMessageFor(model => model.cas_billing_dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row @(isStrokeAlertCase ? "" : "d-none")" id="divCallType">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-danger">Call Type: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12 cases-form-wrapper">
                @Html.RadioButtonListFor(m => m.cas_call_type, callTypes, new { @class = "disabled" })

                <div class="error_msg" id="cas_call_type_error" style="display:none;">
                    <label>This field is required</label>
                </div>
            </div>
        </div>

        <div class="form-group row @(isStrokeAlertCase && Model.cas_call_type == CallType.Indirect.ToInt() ? "" : "d-none")" id="divCallerSource">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Caller Source: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                <div>
                    <select id="cas_caller_source_key" name="cas_caller_source_key" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.cas_caller_source_key : 0)"></select>
                </div>
                <div class="mt-1" id="div_cas_caller_source_text" style="@(showOtherCallSource ? "" : "display:none")">
                    @Html.TextAreaFor(m => m.cas_caller_source_text, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.cas_caller_source_key, "", new { @class = "text-danger" })
            </div>

        </div>


        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-blue">Caller: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_caller, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.cas_caller, "", new { @class = "text-danger" })
            </div>
        </div>

        @* TCARE-472 *@
        <div class="form-group row @(isStrokeAlertCase || isStateConsultCase ? "" : "d-none")" id="divCartLocation">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-blue">Cart Location: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                <div>
                    <select id="cas_cart_location_key" name="cas_cart_location_key" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.cas_cart_location_key : 0)"></select>
                </div>
                <div class="mt-1" id="div_cas_cart_location_text" style="@(showOtherCartLocation ? "" : "display:none")">
                    @Html.TextAreaFor(m => m.cas_cart_location_text, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.cas_cart_location_key, "", new { @class = "text-danger" })
            </div>

        </div>
        @* Arrival Time invisible for all case types TCARE-472 *@
        @*<div class="form-group row d-none">
                <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-blue">Arrival Time: </label>
                <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                    @Html.FormattedDateTextBoxFor(m => m.cas_metric_door_time_est, new { @class = "form-control timepicker", @data_currentVal = (Model.cas_metric_door_time_est.HasValue ? Model.cas_metric_door_time_est.Value.FormatDateTime() : "") })
                    @Html.ValidationMessageFor(model => model.cas_metric_door_time_est, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-blue">Identification Type: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                <select id="general_cas_identification_type" name="cas_identification_type" class="form-control addValidation cas_identification_type"
                        data-selectedValue="@(Model != null ? Model.cas_identification_type : 0)"></select>
                @Html.ValidationMessageFor(m => m.cas_identification_type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 text-blue">Identification Number: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_identification_number, new { @class = "form-control", @id = "general_cas_identification_number" })
                @Html.ValidationMessageFor(model => model.cas_identification_number, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Last 4 of SSN: </label>
            <div class="col-lg-12 col-xl-7 col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_last_4_of_ssn, new { @class = "form-control disabled", type = "number", step = "1", @onkeydown = "javascript: return event.keyCode == 69 ? false : true", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                @Html.ValidationMessageFor(model => model.cas_last_4_of_ssn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Referring Physician: </label>
            <div class="col-lg-12 col-xl-7 col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(m => m.cas_referring_physician, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.cas_referring_physician, "", new { @class = "text-danger" })
            </div>
        </div>

        @*TCARE 387*@
        <div class="form-group row showWithStatusConsult @(isStateConsultCase ? "" : "d-none")">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 @callbackred">Callback By: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                <select id="cas_callback_response_by" name="cas_callback_response_by" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.cas_callback_response_by : "0")"></select>
                <div class="error_msg" id="cas_callback_response_by_error" style="display:none;">
                    <label>This field is required</label>
                </div>
            </div>
        </div>
        <div class="form-group row showWithStatusConsult @(isStateConsultCase ? "" : "d-none")">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Callback Response Time: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                <div class="timer-container">
                    @Html.FormattedDateTextBoxFor(m => m.cas_callback_response_time_est, new { @class = "form-control timepicker", @data_currentVal = (Model.cas_callback_response_time_est.HasValue ? Model.cas_callback_response_time_est.Value.FormatDateTime() : "") })
                    <div class="est-container">
                        <span>@timeZone</span>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.cas_callback_response_time_est, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Added By Axim *@
        <div class="form-group row hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">RRC Manager Notes<span style="font-size:small">&nbsp;(Included in stamp)</span>: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                @if (IsNavigator)
                {
                    @Html.TextAreaFor(m => m.cas_triage_notes, new { @class = "form-control", @readonly = "true" })
                }
                else
                {
                    @Html.TextAreaFor(m => m.cas_triage_notes, new { @class = "form-control" })
                }

                @Html.ValidationMessageFor(model => model.cas_triage_notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Alert Notes<span style="font-size:small">&nbsp;(Included in stamp)</span>: </label>
            @if (IsNavigator)
            {
                <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                    @Html.TextAreaFor(m => m.cas_notes, new { @class = "form-control", @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.cas_notes, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                    @Html.TextAreaFor(m => m.cas_notes, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cas_notes, "", new { @class = "text-danger" })
                </div>
            }
        </div>


        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Navigator Notes<span style="font-size:small">&nbsp;(NOT included in stamp)</span>: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                @Html.TextAreaFor(m => m.cas_navigator_notes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cas_navigator_notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Navigator Stamp Notes&nbsp;<span style="font-size:small">(Included in stamp)</span>: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                @Html.TextAreaFor(m => m.cas_navigator_stamp_notes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cas_navigator_stamp_notes, "", new { @class = "text-danger" })
            </div>
        </div>
        @* Ended BY Axim *@
        <div class="form-group row showWithStatusConsult @(isStateConsultCase ? "" : "d-none")">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4 @(Model.cas_callback_notes != null ? Model.CaseInterval.StartToCallbackMinutes > 15.0 ? "text-danger" : "" : "")" id="cas_callback_notes_label">Callback Response Delay Notes: </label>
            <div class="col-lg-12 col-xl-7 col-md-8  col-sm-8 col-xs-12">
                @if (!string.IsNullOrWhiteSpace(Model.cas_callback_notes))
                {
                    if (Model.CaseInterval.StartToCallbackMinutes > 15.0)
                    {
                        @Html.TextAreaFor(x => x.cas_callback_notes, new { @class = "form-control", @row = "2", @data_is_required = "true" })
                    }
                    else
                    {
                        @Html.TextAreaFor(x => x.cas_callback_notes, new { @class = "form-control", @row = "2" })
                    }
                }
                else
                {
                    @Html.TextAreaFor(x => x.cas_callback_notes, new { @class = "form-control", @row = "2" })
                }

                <div id="cas_callback_notes-error" class="error_msg" style="display:none;">
                    <label for="cas_callback_notes">This field is required</label>
                </div>
            </div>
        </div>
        @*TCARE 387*@

    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 right-panel hideWithRoutineConsult @(isRoutineConsultCase ? "d-none" : "")">


        <div class="form-group row  @(User.IsInRole(UserRoles.Physician.ToDescription())?"d-none" :"")">
            <label class="control-label col-xl-5 col-lg-12 col-md-4 col-sm-4">Navigator Blast: </label>
            <div class="col-xl-7 col-lg-12 col-lg-12 col-md-8  col-sm-8 col-xs-12">
                @Html.RadioButtonFor(model => model.cas_is_nav_blast, true, new { id = "cas_is_nav_blast_true", @class = "disabled" })
                @Html.Label("is-navigator-blast-true", "Yes")

                @Html.RadioButtonFor(model => model.cas_is_nav_blast, false, new { id = "cas_is_nav_blast_false", @class = "disabled" })
                @Html.Label("is-navigator-blast-false", "No")
            </div>
        </div>

        <div class="form-group row  @(User.IsInRole(UserRoles.Physician.ToDescription())?"d-none" :"")">
            <div class="col-sm-12 status-scroll">
                <div id="physicianStatusGrid">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>


<script>

     @{

         if(Model.cas_cst_key == CaseStatus.WaitingToAccept.ToInt())
         {

             var date = Model.cas_status_assign_date.HasValue ? Model.cas_status_assign_date.Value : DateTime.Now.ToEST();

                <Text>
       upTime('@(date.ToUniversalTimeZone().ToString("MMM,dd,yyyy,HH:mm:ss"))', $("#assignmentTime"), function () {


        var hr = parseInt($("#assignmentTime").find("#hours").html());
        var min = parseInt($("#assignmentTime").find("#minutes").html());
        var sec = parseInt($("#assignmentTime").find("#seconds").html());

        if (hr > 0 || min >= 3) {
            if (!$("#assignmentTime").hasClass("text-danger")) {
                $("#assignmentTime").addClass("text-danger");

            }
        }

    });
                </Text>
         }


     }


    function caseTypeChangeHandler() {

        @* Cart Location should be visible only for StrokeAlert and StatConsult TCARE - 472 *@
        var selectedValue = $.trim($("#cas_ctp_key").val());
        if (selectedValue == caseTypeEnum.StrokeAlert || selectedValue == caseTypeEnum.StatConsult || selectedValue == caseTypeEnum.TransferAlert) {
            $(".requiredWithCaseType").addClass("text-danger");
            $("#divCartLocation").removeClass("d-none");

        }
        else {
            $(".requiredWithCaseType").removeClass("text-danger");
            $("#divCartLocation").addClass("d-none");
        }

        if (selectedValue == caseTypeEnum.RoutineConsultFollowUp
            || selectedValue == caseTypeEnum.RoutineConsultNew) {
            $(".hideWithRoutineConsult").addClass("d-none");
            $(".showWithRoutineConsult").removeClass("d-none");
        }
        else {
            $(".hideWithRoutineConsult").removeClass("d-none");
            $(".showWithRoutineConsult").addClass("d-none");
        }
        if (selectedValue == caseTypeEnum.StatEEG
            || selectedValue == caseTypeEnum.RoutineEEG || selectedValue == caseTypeEnum.LongTermEEG || selectedValue == caseTypeEnum.RoutineConsultFollowUp
            || selectedValue == caseTypeEnum.RoutineConsultNew || selectedValue == caseTypeEnum.NursetoDr || selectedValue == caseTypeEnum.DrtoDr || selectedValue == caseTypeEnum.TestResults || selectedValue == caseTypeEnum.RadiologyCallback) {
            $(".hidewitheegs").addClass("d-none");
        }
        else {
            $(".hidewitheegs").removeClass("d-none");
        }

        if (!(selectedValue == caseTypeEnum.RoundingNew
            || selectedValue == caseTypeEnum.RoundingFollowUp
            )) {
            $(".cas_callback_container label").addClass("text-danger");
        }
        else {
            $(".cas_callback_container label").removeClass("text-danger");
        }

        //New for 387
        if (selectedValue == caseTypeEnum.StatConsult ) {
            $(".showWithStatusConsult").removeClass("d-none");
        }
        else {
            $(".showWithStatusConsult").addClass("d-none");
        }
        $("#cas_callback_response_time_est").change();

        if (selectedValue == caseTypeEnum.StrokeAlert) {
            $("#divCallType").removeClass("d-none");
            callTypeChangeCallBack();
        }
        else {
            $("#divCallType").addClass("d-none");
            $("#divCallerSource").addClass("d-none");
        }

        enableSaveSend();

           }

    $("#case-eta").off("click").on("click", function () {
        if ($(this).prop("checked")) {
            $("#cas_eta").show();
        }
        else {
            $("#cas_eta").hide();
            $("#cas_eta").val("");
            $("#cas_eta_errormsg").hide();
        }
        });

        $('input:radio[name=cas_call_type]').off("click").on("click", callTypeChangeCallBack);

        function callTypeChangeCallBack() {
            if ($('input:radio[name=cas_call_type]:checked').val() == "@CallType.Indirect.ToInt()") {
                $("#divCallerSource").removeClass("d-none");
            }
            else {
                $("#divCallerSource").addClass("d-none");
            }
        }

         function validateGeneralTabForm(isSaveAndClose, isCaseCompleteCall, isCreat) {

             var result = true;
             var cas_ctp_key = true;
             var cas_fac_key = true;
             var cas_cart = true;
             var cas_callback = true;
             var cas_phy_technical_issue_date_est = true;
             var general_cas_patient_name = true;
             var cas_phy_key = true;
             var cas_cst_key = true;
             var general_billing_dob = true;
             //To check validation for cas_call_type as input:radio[name=cas_call_type]
             var cas_call_type = true;
             var cas_callback_notes = true;
             if ($.trim($("#cas_cst_key").val()).toInt() == caseStatusEnum.Cancelled) {
                 return true;
             }

             if ($("#cas_ctp_key").val() == caseTypeEnum.StatConsult) {
                 var callback_notes_required = $("#cas_callback_notes").attr("data-is-required") != undefined ? true : false;
                 if (callback_notes_required && $.trim($("#cas_callback_notes").val()) == "" && $("#cas_callback_notes").attr("display") != "none") {
                     result = false;
                     cas_callback_notes = false;
                     $("#cas_callback_notes-error").show();
                 }
             }
         if ($.trim($("#cas_ctp_key").val()) == "") {
            $("#cas_ctp_key_error").show();
             result = false;
             cas_ctp_key = false;
         }
         if ($.trim($("#cas_fac_key").val()) == "") {
            $("#cas_fac_key_error").show();
             result = false;
             cas_fac_key = false;
             }

             if (($.trim($("#cas_ctp_key").val()) == caseTypeEnum.StatConsult)) {
                     if (@callbackdate) {
                         if ($("#cas_callback_response_by").val() == "") {
                             $("#cas_callback_response_by_error").show();
                             result = false;
                             cas_callback_response_by = false;
                         }
                     }
                 }
         if (isSaveAndClose) {
             if (($("#basic").css("display").toLowerCase() != "none" || isCaseCompleteCall) && ($('a[href="#basic"]').length > 0 || isCreat)) {

                 var selectedValue = $("#cas_ctp_key").val();
                 if ((selectedValue == caseTypeEnum.StrokeAlert || selectedValue == caseTypeEnum.StatConsult) && $.trim($("#cas_cart").val()) == "") {
                    $("#cas_cart").parent().find(".error_msg").show();
                     result = false;
                     cas_cart = false;
                 }

                 if ($('input:radio[name=cas_call_type]').length > 0 && $.trim($("#cas_ctp_key").val()) == caseTypeEnum.StrokeAlert) {
                     if ($('input:radio[name=cas_call_type]:checked').val() == undefined ) {
                        $("#cas_call_type_error").show();
                         result = false;
                         cas_call_type = false;
                     }
                 }

                 if (!($.trim($("#cas_ctp_key").val()) == caseTypeEnum.RoundingNew
                     || $.trim($("#cas_ctp_key").val()) == caseTypeEnum.RoundingFollowUp
                     || $.trim($("#cas_ctp_key").val()) == caseTypeEnum.RoutineConsult
                     || $.trim($("#cas_ctp_key").val()) == caseTypeEnum.RoutineConsultNew
                     || $.trim($("#cas_ctp_key").val()) == caseTypeEnum.RoutineConsultFollowUp)) {
                     if ($.trim($("#cas_callback").val()) == "") {
                        $("#cas_callback_error").show();
                         result = false;
                         cas_callback = false;
                     }
                 }
                 //if ($.trim($("#cas_callback").val()) == "") {
                 //    $("#cas_callback_error").parent().find(".error_msg").show();
                 //    result = false;
                 //}
                 if ($.trim($("#general_cas_patient_name").val()) == "") {
                    $("#general_cas_patient_error").parent().find(".error_msg").show();
                     result = false;
                     general_cas_patient_name = false;
                 }

                 if ($("#general_cas_dob").val() != "") {
                     if (!isValidDOB($("#general_cas_dob").val())) {
                         result = false;
                         general_billing_dob = false;
                         $("#general_cas_dob-error").show();
                     }
                 }


             }

             var dateAndTime = $("#cas_phy_technical_issue_date_est").val();

             var physicianHasTechIssue = $("#cas_phy_has_technical_issue").prop("checked");
             if (physicianHasTechIssue &&  dateAndTime == "") {

                 result = false;
                 cas_phy_technical_issue_date_est = false;
                $("#cas_phy_technical_issue_date_est_errormsg_required").show();
             }
             else {
                $("#cas_phy_technical_issue_date_est_errormsg_required").hide();

             }
         }



             if ($("#cas_phy_key").val() == "" || $("#cas_phy_key").val() == "selected") {

                 $("#cas_phy_key_error").show();
                 result = false;
                 cas_phy_key = false;
             }
         /// Focusing the first invalid control on the tab
         if (!result) {


             var element = null;


             if (!cas_ctp_key) {
                 element = $("#cas_ctp_key").parent(".k-dropdown");
             }
             else if (!general_billing_dob) {
                 element = $("#general_cas_dob");
             }
             else if (!cas_fac_key) {
                 element = $("#cas_fac_key").parent(".k-dropdown");
             }
             else if (!cas_cart) {
                 element = $("#cas_cart");
             }
             else if (!cas_phy_key) {
                 element = $("#cas_phy_key").parent(".k-dropdown");
             }
             else if (!cas_cst_key) {
                 element = $("#cas_cst_key").parent(".k-dropdown");
             }
             else if (!cas_callback) {
                 element = $("#cas_callback");
             }
             else if (!general_cas_patient_name) {
                 element = $("#general_cas_patient_name");
             }
             else if (!cas_phy_technical_issue_date_est) {
                 element = $("#cas_phy_technical_issue_date_est");
             }
             else if (!cas_call_type) {
                 element = $("input:radio[name=cas_call_type]:first");
             } else if (!cas_callback_notes) {
                 element = $("#cas_callback_notes");
             }



             if (element !== null) {

                 window.setTimeout(function () { $(element).focus(); }, 250)
            }
        }
        return result;
    }
    function enableSaveSend() {

        if ($.trim($("#cas_ctp_key").val()).toInt() == caseTypeEnum.StrokeAlert
            && $.trim($("#cas_cst_key").val()).toInt() == caseStatusEnum.WaitingToAccept
            && $.trim($("#cas_phy_key").val()) != ""
        ) {
            $("#btnSaveSend").enable();
        }
        else {
            $("#btnSaveSend").disable();
        }
    }

    $("#cas_phy_technical_issue_date_est,#cas_callback_response_time_est").bind("change", function () {

        ShowHideTimeZone($(this));
    });

    $("#casecart").off("change").change(function () {
        var value = $(this).val();
        if (value == "other") {
            $("#cas_cart").val("");
            $("#othercart").show();
        } else {
            $("#cas_cart").val(value);
            $("#othercart").hide();
        }

    });
    $(document).ready(function () {
        $("#cas_callback_response_by").fillKendoDropDown("/Case/GetUserByRoleId", "Text", "Value", "-- Select --");
    });
</script>

