@using TeleSpecialists.BLL.ViewModels;
@using TeleSpecialists.BLL.Model;
@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL.Helpers;
@model IEnumerable<PhysicianDashboardViewModel>

@{
    /**/

    var index = 1;
    var statusList = ViewBag.statusList as List<physician_status>;
    var onlineUsers = ViewBag.OnlineUsers as List<string>;
    var defaultStatus = ViewBag.defaultStatus as physician_status;

}
<div class='row mb-4'>

    @foreach (var item in Model)
    {
        var threshholdTime = item.ThreshholdTime.HasValue ? item.ThreshholdTime.Value : new TimeSpan(0, 0, 0, 0, 0);
        TimeSpan? elapsedTime = DateTime.Now.ToEST() - (item.physician.status_change_date.HasValue ? item.physician.status_change_date.Value : item.physician.CreatedDate);

        var hasExceededThreshhold = item.ThreshholdTime.HasValue ? item.ThreshholdTime.Value.TotalMilliseconds < elapsedTime.Value.TotalMilliseconds : false;

        if (item.physician.physician_status == null)
        {
            item.physician.physician_status = defaultStatus;
        }

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mt-3 ">
            <div class="row">
                <div class="col-4 mt-3 col-md-4 col-sm-4 ">
                    <div class="font-weight-bold">
                        @if (User.IsInRole(UserRoles.AOC.ToDescription()) || User.IsInRole(UserRoles.MedicalStaff.ToDescription()))
                        {
                            <h6> @item.physician.FirstName @item.physician.LastName</h6>
                        }
                        else
                        {
                            <a href="@Url.Action("ChangeStatusPopup", new { id = item.physician.Id })" class="loadModelPopup">
                                @item.physician.FirstName @item.physician.LastName
                            </a>
                        }



                    </div>
                    <div>
                        (@item.physician.CredentialIndex.ToString("0.00"))
                    </div>

                </div>
                <div class="col-4 col-xl-3 col-md-5 col-sm-4 pl-0  text-center">
                    <button style="width:75px;height:75px; color:#fff; font-size: 12px; border:none;background-color:@item.physician.physician_status.phs_color_code" class="rounded-circle">@(item.physician.physician_status.phs_name)</button>
                </div>
                <div class="col-4 col-md-3 col-sm-4 mt-3 ">
                    <div class="row">
                        <div class="w-100 text-align-left nowrap">
                            <span class="@(hasExceededThreshhold ? "text-danger": "")">
                                @elapsedTime.FormatTimeSpan()
                            </span>
                            <span>
                                @if (onlineUsers.Contains(item.physician.Id))
                                {
                                    <small class="text-success">Online</small>
                                }
                                else
                                {
                                    <small>Offline</small>
                                }
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (statusList != null)
{
    <div class="row">
        <div class="col-11">
            <div class="pull-right">
                @foreach (var item in statusList)
                {
                    <div class="d-inline-block mr-4">
                        <img alt="" src="~/Content/images/no-background.png" class="rounded-circle rounded" style="border:none;width:22px; height:22px;background-color:@item.phs_color_code;" />
                        &nbsp;@item.phs_name
                    </div>
                }
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
}

