@{
    ViewBag.Title = "Physicians Password";
}

<div class="row">
    <div class="col-md-12">
        <h3>Physician Passwords</h3>
    </div>
</div>

<div class="alert alert-dismissible showSuccessMessage"  style="background-color: #d4edda; border-color: #c3e6cb;color: #155724; display:none;" >
    
</div>


<div class="row mt-4">
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-xl-3 col-6">
                @Html.DropDownList("Physicians", ViewBag.Physicians as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple" })
            </div>
            <div class="form-group col-xl-3 col-6">
                @Html.DropDownList("Facilities", ViewBag.Facilities as List<SelectListItem>, new { @class = "form-control Facilities", @multiple = "multiple" })
            </div>
            <div class="form-group col-xl-3 col-6">
                <button type="button" class="btn btn-dark" id="btnSearchphysicianpassword">Search</button>
                <button type="button" class="btn btn-dark ml-2 d-none" id="resetSearch">Clear Search</button>

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div id="PhysicianPasswordkendoDataGrid">
    </div>
</div>
<div class="form-group col-12 mt-3">
    <button type="button" class="btn btn-dark pull-right " id="btnSaveData">Save</button>
    <button type="button" class="btn btn-dark mr-3 pull-right" id="btnResetData">Reset</button>
    <a href="@Url.Action("Index", "Home")" class="btn mr-3 btn-dark pull-right">Cancel</a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.Facilities').multiselect({
            columns: 1,
            placeholder: 'Select Facility',
            selectAll: true,
            search: true,
            searchOptions: {
                'default': 'Search Facility'
            }
        });
        $('#Physicians').multiselect({
            columns: 1,
            placeholder: 'Select Physician',
            selectAll: true,
            search: true,
            searchOptions: {
                'default': 'Search Physician'
            }
        });
        getPhysicianPassword();
    });
    $("#btnSearchphysicianpassword").off('click').click(function () {

        getPhysicianPassword();
        $("#resetSearch").removeClass("d-none");
    });

    $("#btnSaveData").click(function () {

        var datalist = $ids;
        if (datalist.length == 0) {
            return false;
        }
        datalist = JSON.stringify(datalist);
        ShowLoading();
        $.ajax({
            contentType: 'application/json;',
            type: "POST",
            url:  '@Url.Action("SaveMultiplePasswords", "FacilityPhysician")',// 'FacilityPhysician/SaveMultiplePasswords',
            data: datalist,
            dataType: 'json',

            success: function (msg) {
                $('.showSuccessMessage').show().html(msg).delay(1000).fadeOut('slow');
                $ids = [];
                var grid = $('#PhysicianPasswordkendoDataGrid').data("kendoGrid");
                if (grid != undefined)
                grid.dataSource.read();
                HideLoading();
            }
        })
    })

    $('#resetSearch').off("click").click(function () {
        $('#Physicians').val("");
        $('#Physicians').multiselect('reload');
        $('.Facilities').val("");
        $('.Facilities').multiselect('reload');
        getPhysicianPassword();
        $("#resetSearch").addClass("d-none");
    });
    function getPhysicianPassword() {
        $("#PhysicianPasswordkendoDataGrid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetAllPhysicianPassword")',
                        contentType: "application/json",
                        type: "POST",
                        data: function () {
                                var model = {
                                    Facilities: "",
                                    Physicians: "",
                                };
                                model.Physicians = $("#Physicians").val();
                                model.Facilities = $(".Facilities").val();
                                return model;
                            },
                            type: "POST"
                    },
                    update: function (e) {
                        var index = dataSourceArray.findObjectIndex(e.data.Id, "Id");
                        e.data.isMarkCompleted = $("input[name='isMarkCompleted']").prop("checked");
                        dataSourceArray[index] = e.data;
                        e.success();
                    },
                    parameterMap: function (options, type) {
                        if (type == "read") {
                            return kendo.stringify(options);
                        }
                        else if (type == "update" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                        else {
                            return options;
                        }
                    }
                },
                schema: {
                    model: {
                        id: "id"
                    },
                    data: "Data",
                    total: "Total",
                },
                serverPaging: true,
                pageSize: 20,
                serverFiltering: false,
                serverSorting: true,
            },

            save: function () {
                this.refresh();
            },

            width: '100%',
            groupable: false,
            editable: true,
            filterable: true,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                //pageSizes: true,
                //pageSize: 10
                pageSizes: [20, 30, 50, 70, 'All']
            },

            dataBound: function (e) {

                $("#kendoDataGrid .k-auto-scrollable").scrollLeft(0);
                // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                $('[data-role="dropdownlist"]').each(function () {
                    var kendoDropDown = $(this).data("kendoDropDownList");
                    if (kendoDropDown)
                        kendoDropDown.bind("open", onDropdDownOpen);
                });
                HideShowPassword();
            },
            columns: [
                { field: "id", hidden: true },
                { field: "username", editable: isEditable,  title: "Physician", headerAttributes: { "class": "font-weight-bold"} },
                { field: "facname", editable: isEditable, title: "Facility", headerAttributes: { "class": "font-weight-bold" } },
                { field: "userpassword", title: "Username/Password",headerAttributes: { "class": "font-weight-bold" } },
            ],
            editable: true
        });
    }

    function isEditable(e) {
        var dataSource = $("#PhysicianPasswordkendoDataGrid").data("kendoGrid").dataSource;
        return e.username == null;
    }

    function HideShowPassword() {
        debugger
        $("#PhysicianPasswordkendoDataGrid tbody tr").each(function (index, element) {
            var row = $(element);
            var password = row.find("td:nth-child(4)").text();
            var id = row.find("td:nth-child(1)").text();
            if (password) {
                row.find("td:nth-child(4)").text('');
                var length = password.length;
                var stars = '*'.repeat(length);
                row.find("td:nth-child(4)").append('<span id=' + id + '>'+stars+'</span>');
                row.find("td:nth-child(4)").append("<a href='#' onclick='ShowPassword.call(this)' id='" + "PS" + id + "' data-id='" + id + "' data-value='" + password + "' class='pl-xl-4'><span class='fa fa-eye'></span></a>");
                row.find("td:nth-child(4)").append("<a href='#' onclick='HidePassword.call(this)' id='" + "PH" + id + "' data-id='" + id + "' data-value='" + password + "' class='pl-xl-4 d-none'><span class='fa fa-eye-slash'></span></a>");
            }

        });
    }

    var ShowPassword = function () {
        var id = $(this).data("id");
        var password = $(this).data("value");
        $("#" + id).empty();
        $("#" + id).append(password);
        $("#PS" + id).addClass('d-none');
        $("#PH" + id).removeClass('d-none');
    }
    var HidePassword = function () {
        debugger
        var id = $(this).data("id");
        var password = $(this).data("value");
        var length = password.toString().length;
        var stars = '*'.repeat(length);
        $("#" + id).empty();
        $("#" + id).append(stars);
        $("#PS" + id).removeClass('d-none');
        $("#PH" + id).addClass('d-none');
    }

    $("#PhysicianPasswordkendoDataGrid").on("focusout", ".k-input", function (e) {
        
        HideShowPassword();
    })

    $("#PhysicianPasswordkendoDataGrid").on("keyup", ".k-input", function () {
        var $row = $(this).closest('tr').find('td');
        var rowid = $row[0].innerText;
        var Password = $(this).closest('tr').find('.k-textbox').val();
        AddElement(rowid, Password);
       // HidePassword();
    })

    var $ids = [];
    function AddElement(rowid, Password) {

        Checkelement(rowid, Password, $ids);

    }
    function Checkelement(rowid,Password, arr) {
        if (arr.length > 0) {
            debugger
            var res = arr.find(r => r.rowid == rowid)
            if (!res) {

                $ids.push({ rowid, Password });
            } else {
                $ids.pop(rowid);
                $ids.push({ rowid, Password });
            }
        }
        else {
            $ids.push({ rowid, Password });
        }
    }
    $('#btnResetData').click(function () {
        ShowLoading();
        $ids = [];
        var grid = $('#PhysicianPasswordkendoDataGrid').data("kendoGrid");
        if (grid != undefined)
        grid.dataSource.read();
        HideLoading();
    })
</script>

