@model TeleSpecialists.Models.ChangePassowrdFirstLoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";
}


@using (Html.BeginForm("ChangePasswordOnFirstLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
   
    if (ViewBag.IsPasswordExpired)
    {
        <div class="form-group row">

            <p> Your password has expired. Please change your password.</p>
        </div>
    }
<div class="alerts-wrapper form-group row">
    @if (ViewBag.isUpperCaseRequired)
    {
        <p id="isUppercaseRequired" style="color:red; font-size:10px; margin-bottom:0px;">
            One Upper Case (A-Z) letter required
        </p>
    }
    
    @if (ViewBag.isLowercaseRequired)
    {
<p id="isLowercaseRequired" style="color:red;font-size:10px; margin-bottom:0px;">

    One Lower Case (a-z) letter required
</p>

    }
    
    @if (ViewBag.isAlphaNumericRequired)
    {

        <p id="isAlphaNumericRequired" style="color:red;font-size:10px; margin-bottom:0px;">
            One Non-Alphanumeric (!,#,$,%,^,*,_,+,=) required
        </p>
       
    }
    
    @if (ViewBag.isNumberRequired)
    {
        <p id="isNumberRequired" style="color:red; font-size:10px;margin-bottom:0px; ">

            One Numeric (0-9) required
        </p>
        
    }
    

    <p style="color:red;font-size:10px; margin-bottom:0px;" id="charactersLengthCheck" data-value="@ViewBag.isPasswordLengthCheckRequired"> Password required at least @ViewBag.isPasswordLengthCheckRequired characters,</p>
    


</div>
    @Html.AntiForgeryToken()
    <h6>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </h6>
    <input type="hidden" name="UserName" value="@ViewBag.UserName" id="UserName" />
    <div class="form-group row">

        @Html.PasswordFor(m => m.OldPassword, new { placeholder = @Html.DisplayNameFor(m => m.OldPassword), @class = "form-control", @autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })

    </div>
    <div class="form-group row">
        @Html.PasswordFor(m => m.NewPassword, new { placeholder = @Html.DisplayNameFor(m => m.NewPassword), @class = "form-control", @autocomplete = "off", onkeyup = "GetValue(this.value);" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword), @class = "form-control", @autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <div class="text-right">
            <input type="submit" value="Change" class="btn btn-primary" />
        </div>
    </div>
    @*<br />
        <div class="form-group row">
            @if (ViewBag.IsPasswordExpired && (ViewBag.UserName == null || ViewBag.UserName == ""))
            {
                <hr />
                <div class="text-right">
                    <input type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
                </div>
            }
        </div>*@
}

<script>
    $(document).ready(function () {
        //document.title = $("#title-prefix").val() + '@ViewBag.Title';

    });

    function GetValue(value) {
        var upperCase = new RegExp('[A-Z]');
        var lowerCase = new RegExp('[a-z]');
        var numbers = new RegExp('[0-9]');
        var letterNumber = /^[0-9a-zA-Z]+$/;
        debugger
        var result = $("#charactersLengthCheck").attr("data-value")
       
        if (value.match(letterNumber) || value === '') {
            $('#isAlphaNumericRequired').css("color", "red");
        }
        else {
            $('#isAlphaNumericRequired').css("color", "Green");
          
        }
        if (value.match(lowerCase)) {
            $('#isLowercaseRequired').css("color", "Green");
        }
        else {
            $('#isLowercaseRequired').css("color", "red");
        }
        if (value.match(upperCase)) {
            $('#isUppercaseRequired').css("color", "Green");
        }
        else {
            $('#isUppercaseRequired').css("color", "red");
        }
        if (value.match(numbers)) {
            $('#isNumberRequired').css("color", "Green");
        }
        else {
            $('#isNumberRequired').css("color", "red");
        }
        if (value.length > result) {
            $('#charactersLengthCheck').css("color", "Green");
        }
        else {
            $('#charactersLengthCheck').css("color", "red");
        }
    }
</script>