@model TeleSpecialists.Models.ChangePassowrdFirstLoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";
}

@if (ViewBag.IsPasswordExpired)
{
    <div class="form-group row">
        <p> Your password has expired. Please change your password.</p>
    </div>
}

@using (Html.BeginForm("ChangePasswordOnFirstLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h6>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </h6>
    <input type="hidden" name="UserName" value="@ViewBag.UserName" id="UserName" />
    <div class="form-group row">

        @Html.PasswordFor(m => m.OldPassword, new { placeholder = @Html.DisplayNameFor(m => m.OldPassword), @class = "form-control", @autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })

    </div>
    <div class="form-group row">
        @Html.PasswordFor(m => m.NewPassword, new { placeholder = @Html.DisplayNameFor(m => m.NewPassword), @class = "form-control", @autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword), @class = "form-control", @autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group row">
        <div class="text-right">
            <input type="submit" value="Change" class="btn btn-primary" />
        </div>
    </div>
    @*<br />
    <div class="form-group row">
        @if (ViewBag.IsPasswordExpired && (ViewBag.UserName == null || ViewBag.UserName == ""))
        {
            <hr />
            <div class="text-right">
                <input type="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
            </div>
        }
    </div>*@
}

<script>
    $(document).ready(function () {
        //document.title = $("#title-prefix").val() + '@ViewBag.Title';
    });
</script>