@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;

@model TeleSpecialists.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";

}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{@Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger" })

    if (ViewBag.Error != null)
    {
        @Html.ShowBootStrapAlert("Error", ((string)ViewBag.Error), BootStrapeAlertType.Danger)
    }


    <div class="form-group row">
        <h6>
            Enter the username and email associated with your account and click <strong> Send Password Reset Email.</strong> You will receive an email containing a link to reset your password.
        </h6>
        <h6>
            For security reasons the link can only be used for one hour.
            If you do not receive your email within five minutes check your spam folder.
        </h6>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @autocomplete = "off" })
        @Html.TextBoxFor(m => m.Email,  new {   @class = "form-control", @placeholder = "Email Address", @autocomplete = "off" })
    </div>
    <div class="form-group row">
        <input type="submit" class="btn btn-primary" value="Send Password Reset Email" />
    </div>
    <div class="form-group row">
        <p>
            <br /><br />
            <a href="@Url.Action("Login")" class="btn btn-link">Already have an account?</a>
        </p>
    </div>
}
