@model TeleSpecialists.Models.ResetPasswordViewModel
@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL.Helpers;
@{
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";
    ViewBag.Title = "Reset password";
    var value = ViewBag.Error;
}

<h6>@ViewBag.Title</h6>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    @Html.ShowBootStrapAlert("Error: ", ((string)ViewBag.Error), BootStrapeAlertType.Danger)
    <div>
        <p>
            Please  @Html.ActionLink("click to resend password reset link", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "link-color-change" })
        </p>
    </div>
}
else
{
    using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @*<h4>Reset your password.</h4>*@
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "row control-label" })
            <div class="row">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "row control-label" })
            <div class="row">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "row control-label" })
            <div class="row">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Reset" />
            </div>
        </div>
    }
}


