@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL;
@using TeleSpecialists.Models;
@using Microsoft.AspNet.Identity;
@{
    var loggedInUser = ViewBag.loggedInUser as ApplicationUser;

}

<input type="hidden" id="IsQPSQualityDirectororVPQuality" value="@(User.IsInRole(UserRoles.SuperAdmin.ToDescription()) || User.IsInRole(UserRoles.QPS.ToDescription()) || User.IsInRole(UserRoles.QualityDirector.ToDescription()) || User.IsInRole(UserRoles.VPQuality.ToDescription()) ? 1 : 0)" />

<div class="row mb-3 mt-5">
    <div class="col-5">
        <select class="form-control" id="ddlQPSlist">
            @{
                foreach (var item in ViewBag.listqps)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }

        </select>
    </div>
    <div class="col-7 text-right">
        <div class="nav-wrapper d-inline-block mt-4 mt-lg-0 statsIndicator">
            <ul class="nav nav-pills CPR_List">
                <li class="nav-item ml-3">
                    <a class="nav-link btn-light" href="#" id="btnlastthree">Last 3 Months</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link btn-light" href="#" id="btnlasttwo">Last 2 Months</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link btn-light active" href="#" id="btnlast">Last Month</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xl-12 col-lg-12 col-md-12">
        <div id="cases-pending-review-container">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#cases-pending-review-container").addClass("d-none");
        if ($("#IsQPSQualityDirectororVPQuality").val() == "1") {
            $("#cases-pending-review-container").removeClass("d-none");
            var QPS = $("#ddlQPSlist").val();
            if (QPS == undefined) {
                QPS = "";
            }
            
            refreshCasesPendingReviewList(QPS, 'Last Month');
        }

    })

    $("#ddlQPSlist").off('change').change(function () {
        
        var QPS = $("#ddlQPSlist").val();
        var period = $('.CPR_List').find('.nav-link.active').text()
         refreshCasesPendingReviewList(QPS, period);
    })

    function LoadCasesPendingReviewList() {
        var period = $('.CPR_List').find('.nav-link.active').text()
        var QPS = $("#ddlQPSlist").val();
        if (refreshCasesPendingReviewList.loadTimeout != undefined)
            window.clearTimeout(refreshCasesPendingReviewList.loadTimeout);

        refreshCasesPendingReviewList.loadTimeout = window.setTimeout(function () { refreshCasesPendingReviewList(QPS, period) }, 5000);
    }

    function refreshCasesPendingReviewList(QPS, period) {
        
        $("#cases-pending-review-container").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetCasesPendingReviewList", "Reports")',
                        contentType: "application/json",
                        type: "POST",
                        data: { QPS_Key: QPS, period: period },
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        return kendo.stringify(options);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                //serverPaging: true,
                //serverFiltering: true,
                //serverSorting: true,
                //pageSize: GetKendoPageSize("QualityReport", "RecPerPage", true),
                //page: KendoGet("QualityReport", "page")
                serverPaging: true,
                pageSize: 10,
                serverFiltering: false,
                serverSorting: true,
            },
            width: '100%',
            pageable: {
                refresh: true,
                //pageSizes: true,
                //pageSize: 10
                pageSizes: [5, 10, 15, 20, 30, 50, 'All']
            },
            groupable: false,
            filterable: true,
            sortable: true,
            resizable: true,

            dataBound: function (e) {

                $("#kendoDataGrid .k-auto-scrollable").scrollLeft(0);
                // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                $('[data-role="dropdownlist"]').each(function () {
                    var kendoDropDown = $(this).data("kendoDropDownList");
                    if (kendoDropDown)
                        kendoDropDown.bind("open", onDropdDownOpen);
                });
                //LoadCasesPendingReviewList();
                DoRed();
            },
            columns: [
                {
                    title: "<span class='font-weight-bold' style='font-size: larger;'>Cases Pending Review</span>",
                    columns: [
                        { hidden: true, field: "ColorRed" },
                        { hidden: true, field: "CaseKey" },
                        { field: "FacilityName", width: 250, title: "Facility" },
                        { field: "QPS_Name", width: 185, title: "QPS Assigned" },
                        { field: "DateOfConsult", width: 185, title: "Date of Consult" },
                        { title: "TC Case Number", template: "<a class='loadLinkAsync' onclick='AssignTabID.call(this)' title='TC Case Number' href='@Url.Action("Edit", "Case")?id=#= CaseKey#&isReadOnly=#= true#'>#=TC_CaseNumber#</a>", width: 185 },
                    ]
                }]
        });
    }
    var AssignTabID = function () {
        localStorage.clickfromhome = "casespendingreview";
    }
    function DoRed() {
        $("#cases-pending-review-container tbody tr").each(function (index, element) {
            var row = $(element);
            var Cases = row.find("td:nth-child(1)").text();
            if (Cases == "true") {
                row.addClass("text-danger font-weight-bold");
            }
        });
    }
    
    $('.statsIndicator .nav-link').off("click").click(function (e) {
        
        e.preventDefault();
        var QPS = $("#ddlQPSlist").val();
        if (refreshCasesPendingReviewList.loadAllTimeout != undefined)
            window.clearTimeout(refreshCasesPendingReviewList.loadAllTimeout);
        $('.nav.CPR_List>li>a').removeClass('active');
        $(this).addClass('active');
        refreshCasesPendingReviewList(QPS,$(this).text());
    });

</script>
