@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;
@using TeleSpecialists.BLL;
@model TeleSpecialists.BLL.Model.facility_rate
@{
    ViewBag.Title = "Update Facility Rate";
    ViewBag.Edit = true;
}
<h4>Update Facility Rate</h4>
<hr />

@Html.Partial("_Form", Model)
<script type="text/javascript">
    $(document).ready(function () {
        var currentFacilityOffset = @(Functions.GetTimeZoneOffset(Settings.DefaultTimeZone));
        document.title = $("#title-prefix").val() + '@ViewBag.Title';
        var uclData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.UclData, Newtonsoft.Json.Formatting.Indented));
        $("#cas_ctp_key").fillStaticKendoDropDown(getUclDataByType(uclData, @(UclTypes.BillingCode.ToInt())), "ucd_title", "ucd_key", "-- Select --");
        $("#rate_end_Date").kendoDatePicker();
        $("#rate_start_Date").kendoDatePicker();
        $('#divfacility').show();
    });

    $('#rat_ending').on('change', function () {
        var start = parseInt($('#rat_starting').val());
        var end = parseInt($('#rat_ending').val());
        if (end < start) {
            $("#mainContentArea").find("#validationSummary").empty().showBSDangerAlert("", "End Index Must be greater than Start Index.");
        }
    });
    $('#rat_starting').on('change', function () {
        var start = parseInt($('#rat_starting').val());
        var end = parseInt($('#rat_ending').val());
        if (end === '' || end === 0) {
        }
        else if (end < start) {
            $("#mainContentArea").find("#validationSummary").empty().showBSDangerAlert("", "End Index Must be greater than Start Index.");
        }
    });
</script>



