@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;

<script>
    function SetIndex(index) {
        $('#hiddenReportText').val(index);
    }
</script>
<ul class="panelbar" id="panelBarMenu">
    @if (User.IsInRole(UserRoles.FacilityAdmin.ToDescription()) || User.IsInRole(UserRoles.RegionalMedicalDirector.ToDescription()))
    {
        <li>
            <h4>Quality Reports</h4>
            <ul>
                <li><a href="@Url.Action("QualityMetricReport")" class="loadLinkAsync text-body" onclick="SetIndex('4,0')">Quality Metrics Report</a></li>
            </ul>
        </li>
    }
    else
    {



        <li>
            <h4>Billing Reports</h4>
            <ul>
                <li><a href="@Url.Action("FacilityBillingReport")" class="loadLinkAsync text-body" onclick="SetIndex('0,0')">Facility Billing Report</a></li>
                <li><a href="@Url.Action("FacilityBillingWithMetrics")" class="loadLinkAsync text-body" onclick="SetIndex('0,1')">Facility Billing with Metrics</a></li>
                <li><a href="@Url.Action("PhysicianBillingByShift")" class="loadLinkAsync text-body" onclick="SetIndex('0,2')">Physician Billing by Shift</a></li>
                <li><a href="@Url.Action("PhysicianBillingWithMetrics")" class="loadLinkAsync text-body" onclick="SetIndex('0,3')">Physician Billing with Metrics</a></li>
                <li><a href="@Url.Action("PhysicianBillingByConsult")" class="loadLinkAsync text-body" onclick="SetIndex('0,4')">Physician Billing by Consult</a></li>
                <li><a href="@Url.Action("PhysicianBillingAmount")" class="loadLinkAsync text-body" onclick="SetIndex('0,5')">Physician Billing Amount</a></li>
            </ul>
        </li>


        <li>
            <h4>Credential Reports</h4>
            <ul>
                <li><a href="@Url.Action("FacilityCredentials")" class="loadLinkAsync text-body" onclick="SetIndex('1,0')">Facility Credentials</a></li>
                <li><a href="@Url.Action("PhysicianCredentials")" class="loadLinkAsync text-body" onclick="SetIndex('1,1')">Physician Credentials</a></li>
            </ul>
        </li>
        <li>
            <h4>Licensing Reports</h4>
            <ul>
                <li><a href="@Url.Action("PhysicianLicensing")" class="loadLinkAsync text-body" onclick="SetIndex('2,0')">Physician Licensing</a></li>
                <li><a href="@Url.Action("StateLicensing")" class="loadLinkAsync text-body" onclick="SetIndex('2,1')">State Licensing</a></li>
            </ul>
        </li>
        <li>
            <h4>Physician Reports</h4>
            <ul>
                <li><a href="@Url.Action("CaseAssignHistory")" class="loadLinkAsync text-body" onclick="SetIndex('3,0')">Assignment History</a></li>
            </ul>
        </li>
        <li>
            <h4>Quality Reports</h4>
            <ul>
                <li><a href="@Url.Action("QualityMetricReport")" class="loadLinkAsync text-body" onclick="SetIndex('4,0')">Quality Metrics Report</a></li>
            </ul>
        </li>

    }

</ul>

