@{
    ViewBag.Title = "Facility Credentials";
}

@Html.Partial("_ReportLayout")

<div class="row" id="divLocalFilters">
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-4">
                <label for="">Facility</label>
                @Html.DropDownList("Facilities", ViewBag.Facilities as List<SelectListItem>, new { @class = "form-control Facilities", @multiple = "multiple" })
            </div>
            <div class="form-group col-3">
                <label for="">Physician</label>
                @Html.DropDownList("Physicians", ViewBag.Physicians as List<SelectListItem>, new { @class = "form-control", @multiple = "multiple" })
            </div>
            <div class="form-group col-2">
                <label for="">Onboarded</label>
                <select class="form-control" id="ddlOnboarded">
                    <option value="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="">Start Date</label>
                <select class="form-control" id="ddlStartDate">
                    <option value="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="">End Date</label>
                <select class="form-control" id="ddlEndDate">
                    <option value="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="">Facility Active</label>
                <select class="form-control" id="ddlFacilityActive">
                    <option value="">All</option>
                    <option selected value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="">Physician Active</label>
                <select class="form-control" id="ddlPhysicianActive">
                    <option value="">All</option>
                    <option selected value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-2">
                <label for="">GoLive</label>
                <select class="form-control" id="ddlGoLive">
                    <option value="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-4">
                <label for="">Credentials Confirmed Date</label>
                <select class="form-control" id="ddlcredentialsconfirmdate">
                    <option value="">All</option>
                    <option value="CustomRange">Date Range</option>
                </select>
            </div>
            <div class="form-group row col-6" id="divDateRange" style="display:none;">
                <div class="col-6 pr-0">
                    <label>From</label>
                    <input type="text" id=FromDate name=FromDate class="form-control datepicker" />
                    <span class="text-danger field-validation-error position-absolute" id="txtFromDateError"
                          style="display:none" data-valmsg-for=FromDate data-valmsg-replace="true">
                        <span id="FromDate-error" class=""></span>
                    </span>
                </div>

                <div class="form-group col-6">
                    <label>To Date</label>
                    <input type="text" id="ToDate" name="ToDate" class="form-control datepicker" />
                </div>
            </div>
            <div class="form-group col-3">
                <label for="">&nbsp;</label><br />
                <button type="button" class="btn btn-dark" id="btnSearch">Search</button>
                <button type="button" class="btn btn-dark" id="btnClear" style="display: none">Clear Search</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var listFacilities = [];
        var listPhysicians = [];
        var filters = [];
        $('#divLocalFilters').appendTo('#divFilters');
        document.title = $("#title-prefix").val() + '@ViewBag.Title';
        $('.Facilities').multiselect({
            columns: 1,
            placeholder: 'Select Facility',
            selectAll: true,
            search: true,
            searchOptions: {
                'default': 'Search Facility'
            }
        });
        $('#Physicians').multiselect({
            columns: 1,
            placeholder: 'Select Physician',
            selectAll: true,
            search: true,
            searchOptions: {
                'default': 'Search Physician'
            }
        });
        $('#btnClear').click(function () {
            $('#btnClear').css('display', 'none');
            $("#kendoDataGrid").data("kendoGrid").dataSource.filter({});
            $(".Facilities").val("");
            $(".Facilities").multiselect('reload');
            $("#Physicians").val("");
            $("#Physicians").multiselect('reload');
            $("#ddlOnboarded").val('');
            $("#ddlStartDate").val('');
            $("#ddlEndDate").val('');
            $("#ddlFacilityActive").val('true');
            $("#ddlPhysicianActive").val('true');
            $("#ddlGoLive").val('');
        });
        $('#btnSearch').click(function () {
            $('#btnClear').css('display', '');
            loadDate();
        });
        $('.datepicker').kendoDatePicker({
            open: function (e) {
                onDatePickerOpen(e);
            }
        });
        $('#ddlcredentialsconfirmdate').off("change").change(function () {
            $("#divDateRange").hide();
            var selectedValue = $(this).val();
            if (selectedValue == "CustomRange")
                $("#divDateRange").show();
        });
        resetDropDownOnDeseelect();
        loadDate();
        setWidthOfDropDowns();
    });

    function loadDate() {
        $("#kendoDataGrid").kendoGrid({
            excel: {
                allPages: true,
                filterable: false,
                fileName: '@ViewBag.Title' + '.xlsx',
                proxyURL: '@Url.Action("ExportToExcel")',
            },
            pdf: {
                author: "Condado Group",
                creator: "Condado Group",
                date: new Date(),
                fileName: '@ViewBag.Title' + '.pdf',
                keywords: '@ViewBag.Title',
                subject: '@ViewBag.Title',
                title: '@ViewBag.Title'
            },
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetCredentials")',
                        contentType: "application/json",
                        type: "POST",
                         data: function () {
                             var filterModel = { physicians: "", facilities: "", isStartDate: "", isEndDate: "", isOnBoarded: "", fac_IsActive: "", phy_IsActive: "",goLive:"",StartDate:"",EndDate:"" };
                            filterModel.physicians = $("#Physicians").val();
                            filterModel.facilities = $(".Facilities").val();
                            filterModel.isStartDate = $("#ddlStartDate").val();
                            filterModel.isEndDate = $("#ddlEndDate").val();
                            filterModel.isOnBoarded = $("#ddlOnboarded").val();
                             filterModel.fac_IsActive = $("#ddlFacilityActive").val();
                             filterModel.phy_IsActive = $("#ddlPhysicianActive").val();
                             filterModel.goLive = $("#ddlGoLive").val();
                             var Selectedval = $("#ddlcredentialsconfirmdate").val();
                             if (Selectedval == "CustomRange") {
                                 filterModel.StartDate = $("#FromDate").val();
                                 filterModel.EndDate = $("#ToDate").val();
                             }
                            return filterModel;
                        }
                    },
                    parameterMap: function (options) {
                        options = KendoKeepState("Report", options);
                        exportPostData = options;
                        return kendo.stringify(options);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: function (response) {
                        if (response != null && response.success != undefined && response.success != null && !response.success) {
                            $("#mainContentArea").find("#validationSummary").empty().showBSDangerAlert("", "Error! Please try again.");
                            HideLoading();
                        }
                    }
                },
                //serverPaging: true,
                //serverFiltering: true,
                //serverSorting: true
                serverPaging: true,
                pageSize: 10,
                serverFiltering: false,
                serverSorting: true,
            },
            width: '100%',
            groupable: false,
            filterable: true,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: true,
                //pageSizes: true,
                //pageSize: 10
                pageSizes: [5, 10, 15, 20, 30, 50, 'All']
            },
            dataBound: function (e) {
                // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                $('[data-role="dropdownlist"]').each(function () {
                    var kendoDropDown = $(this).data("kendoDropDownList");
                    if (kendoDropDown)
                        kendoDropDown.bind("open", onDropdDownOpen);
                });
            },
            columns: [
                { field: "state", title: "State", width:'70px' },
                { field: "fac_name", title: "Facility", width: '150px' },
                { field: "PhysicianId", width: 100, title: "ID" },
                { field: "FullName", title: "Physician", width: '110px' },
                { field: "fap_credential_specialist", title: "Credentialing Specialist", width: '165px' },
                { field: "fap_date_assigned", title: "Date Assigned", type: "date", template: '<span> #= fap_date_assigned ? kendo.toString(kendo.parseDate(fap_date_assigned), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '100px' },
                { field: "fap_initial_app_received", title: "Initial App Received Date", type: "date", template: '<span> #= fap_initial_app_received ? kendo.toString(kendo.parseDate(fap_initial_app_received), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '150px' },
                { field: "fap_app_started", title: "App Started", type: "date", template: '<span> #= fap_app_started ? kendo.toString(kendo.parseDate(fap_app_started), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '100px' },
                { field: "fap_app_submitted_to_hospital", title: "App Submitted to  the Hospital", type: "date", template: '<span> #= fap_app_submitted_to_hospital ? kendo.toString(kendo.parseDate(fap_app_submitted_to_hospital), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '200px' },
                { field: "fap_vcaa_date", title: "VCAA Date", type: "date", template: '<span> #= fap_vcaa_date ? kendo.toString(kendo.parseDate(fap_vcaa_date), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '100px' },
                { field: "fap_start_date", title: "Start Date", type: "date", template: '<span> #= fap_start_date ? kendo.toString(kendo.parseDate(fap_start_date), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '100px' },
                { field: "fap_Credentials_confirmed_date", title: "Credentials Confirmed Date", type: "date", template: '<span> #= fap_Credentials_confirmed_date ? kendo.toString(kendo.parseDate(fap_Credentials_confirmed_date), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '130px' },
                { field: "fap_end_date", title: "End Date", type: "date", template: '<span> #= fap_end_date ? kendo.toString(kendo.parseDate(fap_end_date), "MM/dd/yyyy") : ""# </span>', filterable: false, width: '100px'},
                { field: "fac_go_live", title: "GoLive", template: '<input type="checkbox" #= fac_go_live ? "checked=checked" : "" # disabled="disabled" ></input>', width: 100, width: '90px'},
                { field: "fap_is_on_boarded", title: "Onboarded", template: '<input type="checkbox" #= fap_is_on_boarded ? "checked=checked" : "" # disabled="disabled" ></input>',width:'100px' },
                {
                    field: "onBoarded", title: "Onboarding Date",
                    template: '<span> #= fap_onboarded_date && fap_is_on_boarded ? kendo.toString(kendo.parseDate(fap_onboarded_date), "MM/dd/yyyy")  : ""# </span>',
                    filterable: false, width:'110px'
                },
                { field: "fap_onboarded_by_name", title: "Onboarded By", width: '120px' },
                { field: "fac_is_active", title: "Active", template: '<input type="checkbox" #= fac_is_active ? "checked=checked" : "" # disabled="disabled" ></input>', width: '90px' }

            ]
        });
    }

</script> 