
@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;

@model TeleSpecialists.BLL.Model.component

<div class="ajaxForm">
    @using (Html.BeginForm(new { role = "form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <h4>@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.com_key)
            @Html.HiddenFor(m => m.com_addedby)
            @Html.HiddenFor(m => m.com_addedon)
            @Html.HiddenFor(m => m.com_modifiedby)
            @Html.HiddenFor(m => m.com_modifiedon)

            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="form-group row">

                        @Html.Label("Parent Menu:", htmlAttributes: new { @class = "control-label col-lg-2  col-sm-12" })
                        <div class="col-md-4 col-sm-4">
                            @Html.DropDownListFor(model => model.com_parentcomponentid, new SelectList(ViewBag.Menues, "Value", "Text"), "Please select", new { @class = "form-control", @id = "ParentComponentId" })

                             @Html.ValidationMessageFor(model => model.com_parentcomponentid, "", new { @class = "text-danger" })
                        </div>

                        @Html.Label("Menu Name:", htmlAttributes: new { @class = "control-label col-lg-2  col-sm-12" })
                        <div class="col-lg-4 col-sm-4">
                            @Html.EditorFor(model => model.com_module_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_module_name, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        @Html.Label("Page URL:", htmlAttributes: new { @class = "control-label col-lg-2  col-sm-12" })
                        <div class="col-lg-4 col-sm-4">

                            @Html.EditorFor(model => model.com_page_url, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_page_url, "", new { @class = "text-danger" })

                        </div>
                        @Html.Label("Page Name:", htmlAttributes: new { @class = "control-label col-lg-2  col-sm-12" })
                        <div class="col-lg-4 col-sm-4">
                            @Html.EditorFor(model => model.com_page_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_page_name, "", new { @class = "text-danger" })
                        </div>

                       
                    </div>
                    <div class="form-group row">
                        @Html.Label("Description:", htmlAttributes: new { @class = "control-label col-lg-2  col-sm-12" })
                        <div class="col-lg-4 col-sm-4">
                            @Html.EditorFor(m => m.com_page_description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_page_description, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Page Title:", htmlAttributes: new { @class = "control-label col-lg-2  col-sm-12" })
                        <div class="col-lg-4 col-sm-4">
                            @Html.EditorFor(m => m.com_page_title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.com_page_title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-10 col-sm-12 offset-md-0 offset-lg-2 offset-sm-0">
                            <div class="checkbox">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.com_status) &nbsp;Status
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.com_status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-5 text-right">
                    <a class="btn btn-link loadLinkAsync-cancel" href="@Url.Action("Index", new { @id = Model.com_key })">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-dark" />
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ($('#ucd_is_locked').val() == 'True') {
            //$('#ucd_is_active').prop('readonly', true);
            //$('#ucd_is_active').attr('readonly', true);
            //$('#ucd_is_active').attr('readonly', 'readonly');
            //$('#ucd_is_active').attr("disabled", "disabled");
        }
    });
</script>