@model TeleSpecialists.BLL.ViewModels.FacilityUser.PutFacilityViewModel
@{
    Layout = "";
}

<div class="modal-dialog modal-lg">
    <form method="post" role="form" id="FacilityForm" action="@Url.Action("EditFacility")">
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Facility</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div id="validationSummary">
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="form-group row">
                            <label class="control-label col-lg-3 col-sm-12">User: </label>
                            <div class="col-lg-8 col-sm-12">
                                @Html.HiddenFor(m=>m.Id, new { id="efa-id"})
                                @Html.HiddenFor(m => m.UserKey, new { id = "efa-edit-userkey" })
                                <label id="current-facilityNavigator-id" data-userkey="@Model.UserKey">@Model.UserFullName</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-lg-3 col-sm-12" for="all-facilities">Facility:</label>
                            <div class="col-lg-8 col-sm-12">
                                <select id="efa-facility" class="form-control addValidation" data-selectedValue="@(Model != null ? Model.Facility : Guid.Empty)" ></select>
                                <div id="efa-facility-error" class="error_msg" style="display:none;">
                                    <label style="color: red" for="efa-facility">This field is required</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
                <input type="submit" class="btn btn-dark" value="Save" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $("#efa-facility").fillKendoDropDown("/LookUp/GetFacility?phoneNumber=", "fac_name", "fac_key", "-- Select --", function () { });
    $("#FacilityForm").off("submit").submit(function (e) {
        e.preventDefault();
        if ($("#efa-facility").data("kendoDropDownList").value() == "" || $("#efa-facility").data("kendoDropDownList").value() == "selected") {
            $("#efa-facility-error").show();
        }
        else {
            var url = $(this).attr("action");
            var data = {
                Id: $("#efa-id").val(),
                UserKey: $("#efa-edit-userkey").val(),
                Facility: $("#efa-facility").val(),
                FacilityName: $("#efa-facility :selected").text()
            }
            $("#divModelPopUp").find("input:button, input:submit").disable();
            $.post(url, data, function (response) {
                $("#divModelPopUp").find("input:button, input:submit").enable();
                if (response.success) {
                    getAssignedFacilities();
                    $("#divModelPopUp").modal("hide");
                }
                else {
                    $("#divModelPopUp").find("#validationSummary").showBSDangerAlert("", response.data);
                }
            });
        }
    });
</script>
