<div class="row">
    <div class="col-12">
        <a class="btn btn-dark loadModelPopup" id="ealert-add-facility" 
           href='@Url.Action("AddCaseTypes", "FacilityUser", new {UserFullName = ViewBag.UserFullName, userKey = ViewBag.UserKey})'>
        Add Case Type</a>
    </div>
</div>
<div class="pt-1 customGridHeader">
    <div id="caseTypesGrid" class="kendo-ui-grid-control">
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        getAssignedCaseTypes();
    });

    function getAssignedCaseTypes() {
         var user_key = '@(ViewBag.UserKey)';
        $("#caseTypesGrid").kendoGrid({
            dataSource: {
                page: KendoGet("CaseType", "page"),
                transport: {
                    read: {
                        url: '@Url.Action("GetAllCaseTypesForNavigator", "FacilityUser")',
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        options = KendoKeepState("CaseType", options, true);
                        if (user_key !== "") {
                            if (options.filter === undefined)
                                options.filter = {};

                            if (options.filter.filters === undefined)
                                options.filter.filters = [];

                            if (options.filter.logic === undefined)
                                options.filter.logic = "and";

                            options.filter.filters.push({ field: "ect_user_key", operator: "eq", "value": user_key });
                        }
                        return kendo.stringify(options);
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                 },
                pageSize: GetKendoPageSize("CaseType", "RecPerPage", true),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            filterable: true,
            sortable: true,
            scrollable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            dataBound: function (e) {
                SetKendoTotalCount("CaseType", $('#caseTypesGrid').data("kendoGrid").dataSource.total());
                // Adjust dropdown horizental allignment in case of five-9 sidebae expanded.
                $('[data-role="dropdownlist"]').each(function () {
                    var kendoDropDown = $(this).data("kendoDropDownList");
                    if (kendoDropDown)
                        kendoDropDown.bind("open", onDropdDownOpen);
                });
            },
             columns: [
                { hidden: true, field: "ect_user_key" },
                { hidden: true, field: "ect_case_type_key" },
                {
                    field: "ucd_title",
                    title: "Name"
                },
                @*{
                    title: "Actions", width: '150px',
                    template: "<a class='btn btn-dark loadModelPopup' title='Edit' href='@(Url.Action("EditCaseType", "FacilityUser"))?ect_key=#= ect_key#'>Edit</a> "                                
                 }*@
                {
                    title: "Actions", width: '150px',
                    template: "<a class='btn btn-dark' title='Edit' href='javascript:;'  onclick='removeAssociatedCaseType(#= ect_key#)' title='Remove'>Remove</a> "
                 }
            ]
        });
    }
     function removeAssociatedCaseType(id) {
            $("#mainContentArea").find("#validationSummary").empty();

            var url = "@Url.Action("RemvoeAssignedCaseType", "FacilityUser")";
             $("#divModelPopUp").empty().showConfirmPopUp("Confirm",
                 "<span>Are you sure you want to remove this case type from the list?</span>",
                function () {
                    $.get(url, { id: id }, function (response) {
                        $("#divModelPopUp").modal("hide");
                        if (response.success) {
                            getAssignedCaseTypes();                            
                        }
                        else {
                            $("#mainContentArea").find("#validationSummary").empty().showBSDangerAlert("", response.data);
                        }
                    })
                });
     }
</script>


