@using TeleSpecialists.BLL.Helpers;
@using TeleSpecialists.BLL.Extensions;
@{
    ViewBag.Title = "Inbox";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form id="frmSearch" method="post" class="float-lg-right mr-3">
            <div class="row pl-3">
                <div>
                    <strong>Search</strong><br />
                    <input type="search" id="searchBox" class="k-textbox form-control-sm " />
                </div>
                <div class="pl-1" style="max-width:275px;">
                    <br />
                    <input type="button" id="btnSearch" class="btn btn-dark" value="Search" />
                    <a href="javascript:;" class="btn btn-dark clearLS" id="resetSearch" style="display:none;">Clear Search</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="pt-1 customGridHeader facility-grid-container">
    <div id="grid">
    </div>
</div>
@Html.Partial("_Reports")
<input type="hidden" id="readEmails" value="0" />
<input type="hidden" id="maxEmailId" value="0" />

<div id="emailPreviewModal" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Email Preview</h4>
                <button type="button" class="close btnClosePreview" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="overflow:scroll; max-height:800px;">
                <div id="caseEmailReviewData">
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-2 text-left">
                    <input type="button" class="btn btn-dark btnClosePreview" id="btnCancelEmailPreview" value="Close" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        refreshEmails();
            document.title = $("#title-prefix").val() + '@ViewBag.Title';
            $("#grid").kendoGrid({
                dataSource: {
                    page: KendoGet("Rapids", "page"),
                    transport: {
                        read: {
                            url: '@Url.Action("GetAll")',
                            contentType: "application/json",
                            type: "POST"
                        },
                        parameterMap: function (options) {
                            options = KendoKeepState("Rapids", options, true);

                            if (options.filter !== undefined && options.filter.filters !== undefined) {
                                $("#searchBox").val(options.filter.filters[0].value);
                                $("#resetSearch").show();
                            }

                            return kendo.stringify(options);
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                    },
                    pageSize: GetKendoPageSize("Rapids", "RecPerPage", true),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                filterable: true,
                sortable: true,
                scrollable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                dataBound: function (e) {
                    //get All records
                    SetKendoTotalCount("Rapids", $('#grid').data("kendoGrid").dataSource.total());

                    var items = e.sender.items();
                    items.each(function (idx, item) {
                        if (!(e.sender.dataItem(item).isRead))
                            $(item).addClass('rapids-unread');
                    });

                    //refreshEmails();

                },
                columns: [
                    { hidden: true, field: "Id" },
                    { hidden: true, field: "isRead" },
                    { field: "DateTimeSent", title: "Date", width: '100px', template: "#= kendo.toString(kendo.parseDate(DateTimeSent), 'MM/dd/yyyy HH:mm:ss') #" },
                    { field: "From", title: "From", width: '120px' },
                    { field: "Subject", title: "Subject", width: '250px' },
                    {
                        title: "Actions", width: '70px',
                        template: "<input type='button' class='btn btn-dark btn-sm py-1' value='Details' onclick='ShowDetails(#=Id#, this)' />"
                        @*template: "<a class='btn btn-dark btn-sm py-1 loadLinkAsync' title='Details' href='@Url.Action("Details")?id=#=Id#'>Details</a>"*@
                    }
                ]
            });

        });


        $("#btnSearch").click(function () {
            var searchValue = $('#searchBox').val();
            if (searchValue === "") {
                $("#grid").data("kendoGrid").dataSource.filter({});
            }
            else {
                $("#grid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "From",
                            operator: "contains",
                            value: searchValue
                        },
                        {
                            field: "Subject",
                            operator: "contains",
                            value: searchValue
                        }
                    ]
                });
                $("#resetSearch").show();
            }
        });

        $("#resetSearch").off("click").click(function (e) {
            e.preventDefault();
            localStorage.clear();
            $('#searchBox').val("");
            $("#btnSearch").click();
            $("#resetSearch").hide();
        });

        $("#frmSearch").off("submit").submit(function (e) {
            e.preventDefault();
            $("#btnSearch").click();
        });


    function ShowDetails(id, btnDetails) {
        var url = "@Url.Action("Details", "Rapids")?id=" + id;
        var data = { "id": id };
        $.get(url, function (response) {
            if (response.success) {
                // code for wsiwyg popup
                $("#caseEmailReviewData").html(response.data);
                $("#emailPreviewModal").modal("show");
            }
        }).done(function () {
            $(btnDetails).closest('tr').removeClass('rapids-unread');
        });
    };

    ///TCARE-541
    function refreshEmails() {
        $("#hdnDisableLoader").val("1");
        var currentUrl = $("#hdnCurrentUrl").val().toLowerCase();
        if (currentUrl == "/" || currentUrl == "/home" || currentUrl == "/home/index" || currentUrl.indexOf("/?rnd") == 0) {

            if (refreshEmails.timeout != undefined)
                window.clearTimeout(refreshEmails.timeout);

            refreshEmails.timeout = window.setTimeout(function () {
                $.get('@Url.Action("CheckEmails")', function (data) {

                    var maxId = $("#maxEmailId").val();
                    var readmails = $("#readEmails").val();
                    if (data.id != maxId || data.read != readmails) {
                        $("#maxEmailId").val(data.id);
                        $("#readEmails").val(data.read);
                        readEmails();
                    }
                });

                refreshEmails();
            }, 5000);
        }
    }
    function readEmails() {
        $("#hdnDisableLoader").val("1");
        var grid = $('#grid').data("kendoGrid");
        if (grid != undefined) {
            grid.dataSource.read();
        }
    }
</script>




